PORT=3000
SQL_DB=taller
USER_SQL_DB=root
PASS_SQL_DB=
HOST=localhost
SECRET_JWT=7654879uiwd-/-/-/wq9e-pstsew90w8weq68weqiowqkwq99wqi0weq08
FRONTEND_URL=http://localhost:4000,http://192.168.0.195:4000
IP_SERVER=192.168.0.195


